@CHARSET "ISO-8859-1";

table {
	margin: 0 auto;
	width: 100%;
}
th, td {
	padding: 5px;
	text-align: center;
	outline: solid #1C1C1C 1px;
}

.busy {
	background-color: black;
	color:white;
}
.prefer_no {
	background-color: red;
}
.can {
	background-color: yellow;
}
.perfect {
	background-color: green;
	color:white;
}
.na {
	background-color: #CCCCCC
}

.closed {
	background-color: black;
}

#admin_div, #request_div {
	width: 50%;
	margin: auto;
	overflow: auto;
	border: thin solid black;
}

#success {
	background-color: #7CDE88;
	font-size: 150%;
	text-align: center;
}
#failure {
	background-color: #FF5252;
	font-size: 150%;
	text-align: center;
}

#add_employee, #select_employee {
	border: thin solid black;
	padding: .5%;
	width: 48.5%;
	height: 200px;
	float: left;
}

#edit_employee {
	border: thin solid black;
	padding: 1%;
	width: 97%;
	clear: left;
}

.login {
	float: right;
	background-color: yellow;
}

.invalid {
	border; solid;
	border-color: red;
	border-width: 3px;
}

.error_span {
	color: red;
}

#edit_employee_form {
	border: thin solid black;
}