@CHARSET "ISO-8859-1";

table {
    width: 40%;
    margin: 0 auto;
}
th, td {
    padding: 5px;
    text-align: center;
    outline: solid black 1px;
}

.busy {
	background-color: black;
	color:white;
}
.prefer_no {
	background-color: red;
}
.can {
	background-color: yellow;
}
.perfect {
	background-color: green;
	color:white;
}