@CHARSET "ISO-8859-1";

table {
	margin: 0 auto;
	width: 100%;
}
th, td {
	padding: 5px;
	text-align: center;
	outline: solid black 1px;
}

.busy {
	background-color: black;
	color:white;
}
.prefer_no {
	background-color: red;
}
.can {
	background-color: yellow;
}
.perfect {
	background-color: green;
	color:white;
}

.closed {
	background-color: black;
}

#admin_div, #request_div {
	width: 50%;
	margin: auto;
	overflow: auto;
	border: thin solid black;
}

#success {
	background-color: #7CDE88;
	font-size: 150%;
	text-align: center;
}